<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Théoricienne des médias, pionnière du cyberféminisme, réalisatrice et navigatrice, Nathalie Magnan (1956-2016) était aussi une enseignante généreuse, à l’esprit indiscipliné : elle transmettait aux jeunes artistes que l’art peut être une pratique de la liberté.

Marseillaise et Méditerranéenne, de naissance et de cœur, elle tissait constamment des liens entre les États-Unis, la France et l’Europe.

Au-delà de l’hommage, TRANS//BORDER interroge l’actualité de son œuvre à travers les travaux et recherches de nombreux artistes, chercheur.e.s, (h)acktivistes et étudiant.e.s qui continuent à labourer les territoires qu’elle explorait.

À travers tables rondes, projections, performances et exposition TRANS//BORDER questionne les limites, déplace les frontières : entre arts, sciences, technologies et écologie, mais aussi en mer Méditerranée, dans l’espace cybernétique, entre les sexes, entre les espèces, entre les vivants et les morts… Autant de domaines de recherche mal connus du grand public, et pourtant essentiels à la compréhension du monde qui vient.
</p>

<p>Tran//Border se passe en plusieurs temps <a href="#" target="_blank">Une série d'ateliers</a> du x au x à x et x et des  <a href="#" target="_blank">conférences</a> du x au x au Mucem</p>

<p>This is just a live demo, check our <a href="https://github.com/braziljs/conf-boilerplate" target="_blank">repository on Github</a> for more details =D</p>
